[Unit]
Description=Pystub DNS stub server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pystub
DynamicUser=yes
ExecStart=/usr/bin/pystub
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
